main {
  padding: 30px;
}

.learn-section {
  //   width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// @media screen and (max-width: 500px)
// {
//     .button-section
//     {
//         width: 200px;
//         flex-wrap: wrap;
//         p
//         {

//             text-align: center;
//             overflow: auto;
//             order: -1;
//             white-space: wrap;
//         }
//     }

//     .four-btns
//     {
//         width: 200px;
//     }
// }
