@if(editedWord) {
<main>
  <h3 (click)="editWord()">WORD</h3>
  <section class="edit-row">
    <label for="word" class="bgimage">EDIT WORD</label>
    <input
      type="text"
      name="word"
      placeholder="{{ editedWord.word }}"
      [(ngModel)]="tempWord.word"
    />

    <section class="buttons">
      <input type="file" name="file" id="file" (change)="getFile($event)" />
      <button>
        <label for="file" class="file"
          ><img src="http://localhost:8008/{{ editedWord.imgUrl }}" alt=""
        /></label>
      </button>
      <button (click)="editWord()">
        <img src="http://localhost:8008/icons8-edit-52.png" alt="" />
      </button>
      <button (click)="deleteWord()">
        <img src="http://localhost:8008/icons8-trash-52.png" alt="" />
      </button>
    </section>
  </section>
  @if(wordMessage!="") {
  <label
    class="bgimage"
    [ngClass]="{
    error: wordError == true,
    notError: wordError == false,
  }"
    >{{ wordMessage }}</label
  >
  }

  <section class="edit-row">
    <label for="" class="bgimage">ADD TRANSLATION</label>
    <input type="text" name="" [(ngModel)]="newTranslation" />

    <section class="buttons">
      <button>
        <img
          src="http://localhost:8008/icons8-add-64.png"
          alt=""
          (click)="addTranslation()"
        />
      </button>
    </section>
  </section>

  @if(translationMessage!="") {
  <label
    class="bgimage"
    [ngClass]="{
      error: translationError == true,
      notError: translationError == false,
    }"
    >{{ translationMessage }}</label
  >
  }

  <section class="edit-row">
    <label for="" class="bgimage delete">DELETE TRANSLATION</label>
    <select name="" id="" [(ngModel)]="convictTranslation">
      <option value="" disabled selected hidden>Translation</option>
      @for (item of translationSelect; track $index) {
      <option [value]="item.translation">
        {{ item.translation }}
      </option>
      }
    </select>
    <section class="buttons">
      <button (click)="deleteTranslation()">
        <img src="http://localhost:8008/icons8-trash-52.png" alt="" />
      </button>
    </section>
  </section>

  <section class="edit-row">
    <label for="" class="bgimage">ADD EXAMPLE</label>
    <input type="text" name="" [(ngModel)]="newExample" />

    <section class="buttons">
      <button>
        <img
          src="http://localhost:8008/icons8-add-64.png"
          alt=""
          (click)="addExample()"
        />
      </button>
    </section>
  </section>

  @if(exampleMessage!="") {
  <label
    class="bgimage"
    [ngClass]="{
      error: exampleError == true,
      notError: exampleError == false,
    }"
    >{{ exampleMessage }}</label
  >
  }

  <section class="edit-row">
    <label for="" class="bgimage delete">DELETE EXAMPLE</label>
    <select name="" id="" [(ngModel)]="convictExample">
      <option value="" disabled selected hidden>Example</option>
      @for (item of exampleSelect; track $index) {
      <option
        [value]="item.example"
        [selected]="item.selected"
        title="{{ item.example }}"
      >
        {{ item.example.slice(0, 20) + "..." }}
      </option>
      }
    </select>
    <section class="buttons">
      <button (click)="deleteExample()">
        <img src="http://localhost:8008/icons8-trash-52.png" alt="" />
      </button>
    </section>
  </section>

  <section class="edit-row">
    <label for="" class="bgimage">ADD CATEGORY</label>
    <select name="" id="" [(ngModel)]="newCategoryToWord">
      <option value="" selected disabled hidden>All categories</option>
      @for (item of loggedUser?.category; track $index) {
      <option [value]="item">{{ item }}</option>
      }
    </select>
    <section class="buttons">
      <button (click)="addCategoryToWord()">
        <img src="http://localhost:8008/icons8-add-64.png" alt="" />
      </button>
    </section>
  </section>

  @if(categoryMessage!="") {
  <label
    class="bgimage"
    [ngClass]="{
      error: categoryError == true,
      notError: categoryError == false,
    }"
    >{{ categoryMessage }}</label
  >
  }
  <section class="edit-row">
    <label for="" class="bgimage delete">DELETE CATEGORY</label>
    <select name="" id="" [(ngModel)]="convictWordCategory">
      <option value="" selected disabled hidden>Word categories</option>
      @for (item of editedWord.category; track $index) {
      <option [value]="item">{{ item }}</option>
      }
    </select>
    <section class="buttons">
      <button (click)="deleteCategoryFromWord()">
        <img src="http://localhost:8008/icons8-trash-52.png" alt="" />
      </button>
    </section>
  </section>

  <section class="edit-row">
    <label for="" class="bgimage">EDIT STATUS</label>
    <select name="status" id="" [(ngModel)]="newStatus">
      <option value="" selected disabled hidden>Status</option>
      @for (item of statusSelect; track $index) {
      <option [value]="item.value" [selected]="item.selected">
        {{ item.value }}
      </option>
      }
    </select>
    <section class="buttons">
      <button (click)="changeStatus()">
        <img src="http://localhost:8008/icons8-edit-52.png" alt="" />
      </button>
    </section>
  </section>

  @if(statusMessage!="") {
  <label class="bgimage notError">{{ statusMessage }}</label>
  }

  <section class="edit-row">
    <label for="" class="bgimage">EDIT DIFFICULTY</label>
    <select name="difficulty" id="" [(ngModel)]="newDifficulty">
      <option value="" selected disabled hidden>Difficulty</option>
      @for (item of difficultySelect; track $index) {
      <option [value]="item.value" [selected]="item.selected">
        {{ item.value }}
      </option>
      }
    </select>
    <section class="buttons">
      <button (click)="changeDifficulty()">
        <img src="http://localhost:8008/icons8-edit-52.png" alt="" />
      </button>
    </section>
  </section>

  @if(difficultyMessage!="") {
  <label class="bgimage notError">{{ difficultyMessage }}</label>
  }

  <!-- <section class="final-buttons">
    <button class="springgreen" (click)="addAsNewWord()">
      ADD AS NEW WORD
    </button>
  </section> -->

  <h3>CATEGORY</h3>

  <section class="edit-row">
    <label for="" class="bgimage">ADD NEW CATEGORY</label>
    <input type="text" name="" [(ngModel)]="newCategory" />
    <section class="buttons">
      <button (click)="addNewCategory()">
        <img src="http://localhost:8008/icons8-add-64.png" alt="" />
      </button>
    </section>
  </section>

  <section class="edit-row">
    <label for="" class="bgimage delete">DELETE THE CATEGORY</label>
    <select name="" id="" [(ngModel)]="convictCategory">
      <option value="" selected disabled hidden>All categories</option>
      @for (item of loggedUser?.category; track $index) {
      <option [value]="item">{{ item }}</option>
      }
    </select>
    <section class="buttons">
      <button (click)="deleteCategory()">
        <img src="http://localhost:8008/icons8-trash-52.png" alt="" />
      </button>
    </section>
  </section>
</main>

}
