<main>
  @if(((loggedUser | json) != ({} | json)) && ((words | json) != ({} | json)) &&
  words && chosenWords) {

  <section class="word-section">
    <header>
      <img
        src="http://localhost:8008/icons8-sound-96.png"
        alt=""
        class="hover-grow"
        (click)="readWord()"
      />
      <h3>
        {{ chosenWords[wordIdx].word }}
      </h3>
    </header>

    <img
      src="http://localhost:8008/{{ chosenWords[wordIdx].imgUrl }}"
      alt="{{ chosenWords[wordIdx].imgAlt }}"
      class="bgimage learn-img"
      [ngClass]="{
        advanced: chosenWords[wordIdx].difficulty == 'advanced',
        beginner: chosenWords[wordIdx].difficulty == 'beginner',
        intermediate: chosenWords[wordIdx].difficulty == 'intermediate'
      }"
    />

    <section class="button-section bgimage">
      <button (click)="prevTrans()">&lt;</button>
      <p>{{ userTranslations[transIdx] }}</p>
      <button (click)="nextTrans()">&gt;</button>
    </section>

    <section class="button-section bgimage">
      <button (click)="prevEx()">&lt;</button>
      <p>{{ chosenWords[wordIdx].example[exIdx] }}</p>
      <button (click)="nextEx()">&gt;</button>
    </section>

    <button class="deepskyblue" (click)="nextWord()">CONFIRM</button>
  </section>
  }
</main>
