<main>
  <section id="search-container">
    <section class="search">
      <input
        type="text"
        name="search-field"
        placeholder="search"
        [(ngModel)]="searchWord"
        (input)="search()"
      />

      <section class="buttons">
        <!-- <button class="springgreen" (click)="search(searchWord)">SEARCH</button> -->
        <!-- <button class="springgreen">SEARCH</button> -->
        <button
          class="deepskyblue"
          routerLink="../edit-word"
          (click)="addWord()"
        >
          ADD
        </button>
      </section>
    </section>

    <h3>Filters:</h3>

    <section class="filters">
      <section class="filter bgimage">
        <h4>Category</h4>

        <label
          ><input
            type="checkbox"
            name=""
            id=""
            [checked]="allFilters.category"
            (change)="selectAllFilters('category')"
          /><b>all</b></label
        >
        @for (item of categories; track $index) {
        <label>
          <input
            type="checkbox"
            class="checkbox"
            name="category-checkbox"
            [checked]="item.checked"
            (change)="changeFilters('category', $index)"
          />{{ item.category }}
        </label>
        }
      </section>

      <section class="filter bgimage">
        <h4>Status</h4>

        <label
          ><input
            type="checkbox"
            name=""
            id=""
            [checked]="allFilters.status"
            (change)="selectAllFilters('status')"
          /><b>all</b></label
        >

        @for (item of statuses; track $index) {
        <label>
          <input
            type="checkbox"
            class="checkbox"
            name="status-checkbox"
            [checked]="item.checked"
            (change)="changeFilters('status', $index)"
          />{{ item.value }}
        </label>
        }
      </section>

      <section class="filter bgimage">
        <h4>Difficulty</h4>
        <label
          ><input
            type="checkbox"
            name=""
            id=""
            [checked]="allFilters.difficulty"
            (change)="selectAllFilters('difficulty')"
          /><b>all</b></label
        >

        @for (item of difficultyLevels; track $index) {
        <label>
          <input
            type="checkbox"
            class="checkbox"
            name="difficulty-checkbox"
            [checked]="item.checked"
            (change)="changeFilters('difficulty', $index)"
          />{{ item.value }}
        </label>
        }
      </section>
    </section>
  </section>

  <section id="results-container" class="">
    <h3>Results</h3>

    <section class="results">
      @for (item of searchedWords; track $index) {
      <section
        class="result bgimage hover-grow"
        routerLink="../edit-word"
        (click)="editWord($index)"
        [ngClass]="{
          advanced: item.difficulty == 'advanced',
          beginner: item.difficulty == 'beginner',
          intermediate: item.difficulty == 'intermediate'
        }"
      >
        <img src="http://localhost:8008/{{ item.imgUrl }}" alt="piwo" />
        <span>{{ item.word }}</span>
      </section>
      }
    </section>
  </section>
</main>
