<main>
  <section>
    <section id="account">
      <h2>ACCOUNT SETTINGS</h2>

      <section class="inputs">
        <label class="bgimage" for="email">New email</label>
        <input
          type="text"
          name="email"
          [(ngModel)]="newMail"
          placeholder="{{ loggedUser.email }}"
        />

        <label class="bgimage" for="old-password">Old password</label>
        <input type="password" name="old-password" [(ngModel)]="oldPassword" />

        <label class="bgimage" for="new-password">New password</label>
        <input type="password" name="new-password" [(ngModel)]="newPassword" />
      </section>

      @if(userMessage!="") {
      <label
        class="bgimage"
        [ngClass]="{
            error: userError == true,
            notError: userError == false,
          }"
        >{{ userMessage }}</label
      >
      }
      <section class="buttons">
        <button class="deepskyblue" (click)="changeLoginData()">CHANGE</button>
        <button class="crimson" (click)="deleteUser()">DELETE ACCOUNT</button>

        <button class="orange" (click)="logOut()">LOG OUT</button>
      </section>
    </section>

    <section id="course">
      <h2>COURSE SETTINGS</h2>

      <section class="inputs">
        <label class="bgimage" for="select-dificulty"
          >Learning difficulty</label
        >
        <select
          name="select-difficulty"
          id=""
          [(ngModel)]="newLearningDifficulty"
        >
          @for (item of difficultySelect; track $index) {
          <option [value]="item.value" [selected]="item.selected">
            {{ item.value }}
          </option>
          }
        </select>

        <label class="bgimage" for="select-status-change">Status Change</label>
        <select name="select-status-change" id="" [(ngModel)]="newStatusChange">
          @for (item of statusSelect; track $index) {
          <option [value]="item.value" [selected]="item.selected">
            {{ item.value }}
          </option>
          }
        </select>

        <label for="base-language" class="bgimage">Base Language</label>
        <select name="base-language" id="" [(ngModel)]="newBaseLanguage">
          @for (item of languageSelect; track $index) {
          <option [value]="item.language" [selected]="item.baseLanguage">
            {{ item.language }}
          </option>
          }
        </select>

        <label for="other-language" class="bgimage">Other Language</label>
        <select name="other-language" id="" [(ngModel)]="newOtherLanguage">
          @for (item of languageSelect; track $index) {
          <option [value]="item.language" [selected]="item.otherLanguage">
            {{ item.language }}
          </option>
          }
        </select>
      </section>

      @if(courseMessage!="") {
      <label
        class="bgimage"
        [ngClass]="{
          error: courseError == true,
          notError: courseError == false,
        }"
        >{{ courseMessage }}</label
      >
      }

      <section class="buttons">
        <button class="deepskyblue" (click)="changeCourseSettings()">
          CHANGE
        </button>
        <button class="crimson" (click)="resetProgress()">
          RESET PROGRESS
        </button>
      </section>
    </section>
  </section>
</main>
