<main>
  <section>
    <section id="account">
      <h2>ACCOUNT SETTINGS</h2>
      <section class="inputs">
        <input
          type="text"
          name="email"
          [(ngModel)]="newMail"
          placeholder="{{ newMail }}"
        />
        <label class="bgimage" for="email">New email</label>

        <input type="password" name="old-password" />
        <label class="bgimage" for="old-password">Old password</label>

        <input type="password" name="new-password" />
        <label class="bgimage" for="new-password">New password</label>
      </section>
      <section class="buttons">
        <button class="deepskyblue">CHANGE</button>
        <button class="crimson">DELETE ACCOUNT</button>

        <button class="orange" (click)="logOut()">LOG OUT</button>
      </section>
    </section>

    <section id="course">
      <h2>COURSE SETTINGS</h2>

      <section class="inputs">
        <select name="select-difficulty" id="">
          @for (item of DIFFICULTY_OPTIONS; track $index) {
          <option value="{{ item.value }}" selected="{{ item.selected }}">
            {{ item.value }}
          </option>
          }
        </select>
        <label class="bgimage" for="select-dificulty"
          >Learning difficulty</label
        >

        <select name="select-status-change" id="">
          @for (item of STATUS_CHANGE_OPTIONS; track $index) {
          <option value="{{ item.value }}" selected="{{ item.selected }}">
            {{ item.value }}
          </option>
          }
        </select>
        <label class="bgimage" for="select-status-change">Status Change</label>
        <select name="" id="">
          <option value="" selected disabled hidden>Base language</option>
          @for (item of LANGUAGES; track $index) {
          <option value="{{ item.language }}">{{ item.language }}</option>
          }
        </select>
        <select name="" id="">
          <option value="" selected disabled hidden>Other language</option>
          @for (item of LANGUAGES; track $index) {
          <option value="{{ item.language }}">{{ item.language }}</option>
          }
        </select>
      </section>

      <section class="buttons">
        <button class="deepskyblue">CHANGE</button>
        <button class="crimson">RESET PROGRESS</button>
      </section>
    </section>
  </section>
</main>
